<div class="backdrop hidden">
    <div class="modal">
        <div class="modal__border">
            <h2 class="modal__title">Pilot</h2>
            <div class="modal__episode-div">
                <p class="modal__id">Id: <br> <span class="modal__id-text"></span></p>
                <p class="modal__airDate">Air date: <br> <span class="modal__airDate-text"></span></p>
            </div>
                <h2 class="modal__title-characters">Characters</h2>
                <div class="modal__characters">
                    <p class="modal__subtitle">Major Characters</p>
                    <img class="modal__characters-img" src="" alt="character">
                    <p class="modal__name">Rick</p>
                    <img class="modal__characters-img" src="" alt="character">
                    <p class="modal__name">Morty</p>
                    <img class="modal__characters-img" src="" alt="character">
                    <p class="modal__name">Beth</p>
                    <img class="modal__characters-img" src="" alt="character">
                    <p class="modal__name">Jerry</p>
                </div>
        </div>
        <button class="modal__close" type="button">
            <picture class="modal__close-img">
                    <source
                        srcset="
                            ./img/characters/modal-close-1x.webp 1x,
                            ./img/characters/modal-close-2x.webp 2x,
                            "
                        />
                <img class="modal-close-img" src="./img/characters/modal-close-1x.webp" alt="characters hero section image" />
            </picture>
        </button>
    </div>
</div>