<section class="filter">
    <div class="filter__container container">
        <div class="filter__div">
            <div class="filter__search-div">
                <p class="filter__text">Name</p>
                <div class="filter__input-btn">
                    <input class="filter__input" type="text" placeholder="Enter name">
                    <button class="filter__search-btn">
                        <img class="filter__search-img" src="./img/characters/search-filter.webp" alt="search-button">
                    </button>
                </div>
            </div>
            <div class="filter__select-episode">
                <div class="filter__select-episode1">
                    <p class="filter__text">Episode code</p>
                    <select class="filter__select" placeholder="All season" name="eeeeee" id="">
                        <option value="All season">All season</option>
                        <option value="1 season">1 season</option>
                        <option value="1 series">1 series</option>
                        <option value="2 series">2 series</option>
                        <option value="3 series">3 series</option>
                        <option value="4 series">4 series</option>
                        <option value="5 series">5 series</option>
                        <option value="6 series">6 series</option>
                    </select>
                </div>
            </div>
        </div>
        <ul class="filter__list"></ul>
        <button class="filter__load" type="button">Load more</button>
    </div>
</section>

