<div class="backdrop hidden">
    <div class="modal">
        <div class="modal__character-div">
            <div class="modal__image">
                <img src="" alt="image of a character">
            </div>
            <div class="modal__info">
                <ul class="modal__info-list">
                    <li class="modal__info-item">
                        <p class="modal__info-text">Status</p>
                        <p class="modal__info-info">Alive</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Species</p>
                        <p class="modal__info-info">Human</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Gender</p>
                        <p class="modal__info-info">Male</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Origin</p>
                        <p class="modal__info-info">Earth</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Location</p>
                        <p class="modal__info-info">Australia</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Episodes</p>
                        <p class="modal__info-info">1,2,3,4</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Type</p>
                        <p class="modal__info-info">Human</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal__episodes-div">
            <h2 class="modal__title">Episodes</h2>
            <ul class="modal__episodes-list">
                <li class="modal__episodes-item">
                    <h3 class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Season</p>
                        <p class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p class="modal__episode-info"></p>
                    </div>
                </li>
                <li class="modal__episodes-item">
                    <h3 class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Season</p>
                        <p class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p class="modal__episode-info"></p>
                    </div>
                </li>
                <li class="modal__episodes-item">
                    <h3 class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Season</p>
                        <p class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p class="modal__episode-info"></p>
                    </div>
                </li>
                <li class="modal__episodes-item">
                    <h3 class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Season</p>
                        <p class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p class="modal__episode-info"></p>
                    </div>
                </li>
                <li class="modal__episodes-item">
                    <h3 class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Season</p>
                        <p class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p class="modal__episode-info"></p>
                    </div>
                </li>
            </ul>
        </div>
        <button class="modal__close" type="button">
            <img src="" alt="button for closing modal">
        </button>
    </div>
</div>